/* Master styles */
body {
    margin: 0px;
    background-repeat: no-repeat;
    background-image: url("images/eye-hand.gif"); 
    background-size: 100%, 100%;
    background-position: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px; 
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: "border-bottom" 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a; 
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid white;
}

.nav-link-wrapper a{
    color: #ffffff;
    font-family: 'Permanent Marker', cursive;
}
.center-side{
    text-align: center;
}

a.imageLink{
    text-decoration:none;
}

.brand{
    color: white;
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
}
/*Website Styles*/
.porfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.porfolio-item-wrapper{
    position: relative;
}

.porfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-wrapper{
    padding: 1px ;
    border: 2px solid whitesmoke;
    position: absolute;
    background-repeat: repeat;
    width: 50px;
}

/*img{
    filter: opacity(0%)
}